body {
  background-color: black;
  color: white;
}

a {
  color: white
}

nav {
  background-color: black;
}
.navbar-nav li {
  font-size: 20px;
}

a:hover {
  color: #989595;
  text-decoration: none;;
}